<div id="logo">
    <img src="images/logo.png" alt="War of the Servers RESPAWNED" width="319" height="182" />
</div>
<div id="bar">
    <div id="strip">
        ﻿<div id="nav">
            <a href="/about">
                <img src="images/nav/about.png" height="32px" />
            </a>
            <a href="/media">
                <img src="images/nav/media.png" height="32px" />
            </a>
            <a href="/downloads">
                <img src="images/nav/downloads.png" height="32px" />
            </a>
            <a href="/photos">
                <img src="images/nav/photos.png" height="32px" />
            </a>
            <a href="/bts">
                <img src="images/nav/bts.png" height="32px" />
            </a>
            <a href="/links">
                <img src="images/nav/links.png" height="32px" />
            </a>
            <a href="/contact">
                <img src="images/nav/contact.png" height="32px" />
            </a>

        </div>
