<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="War of the Servers remake ">
    <meta name="keywords" content="WOTS, War of the servers, Gmod, Gmod 9, Garrys Mod, Tripod, War of the worlds, WOTW, TWOTS, TWOTW">
    <meta name="author" content="The Binklenuts">
    <title>War of The Servers Respawned - {{ page.title }}</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="logo">
        <img src="images/logo.png" alt="War of the Servers RESPAWNED" width="319" height="182" />
    </div>
    <div id="bar">
        <div id="strip">
            ﻿<div id="nav">
    <a href="/about">
        <img src="images/nav/about.png" height="32px" />
    </a>
    <a href="/media">
        <img src="images/nav/media.png" height="32px" />
    </a>
    <a href="/about">
        <img src="images/nav/downloads.png" height="32px" />
    </a>
    <a href="/about">
        <img src="images/nav/photos.png" height="32px" />
    </a>
    <a href="/about">
        <img src="images/nav/bts.png" height="32px" />
    </a>
    <a href="/about">
        <img src="images/nav/links.png" height="32px" />
    </a>
    <a href="/about">
        <img src="images/nav/contact.png" height="32px" />
    </a>

</div>
             <div id="content">
                <h1>{{ page.title }}</h1>
                    <section>
                    {{ content }}
                    </section>
             </div>
        </div>
    </div>
    <div id="footer">
        <img id ="footimg" src="images/footimg.png" />
    </div>
</body>
</html>



















</body>
</html>
